header {
   float: left;
   width: 100%;
   background: #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
}

.youtube-player {
	margin: 10px 0 0;
	text-align: center;
}

ul.img-list {
 	list-style-type: none;
 	margin: 10px 0 0;
 	padding: 0;
 	text-align: center;
}

ul.img-list li {
 	display: inline-block;
 	height: 150px;
 	margin: 0 1em 1em 0;
 	position: relative;
 	width: 150px;
}

ul.img-list li img {
	border-radius: 50%;
}
span.text-content {
 	border-radius: 50%;
 	background: rgba(0,0,0,0.5);
 	color: white;
 	cursor: pointer;
 	display: table;
 	height: 150px;
 	left: 0;
 	position: absolute;
 	top: 0;
 	width: 150px;
 	opacity: 0;
 	-webkit-transition: opacity 500ms;
 	-moz-transition: opacity 500ms;
 	-o-transition: opacity 500ms;
 	transition: opacity 500ms;
}

span.text-content span {
 	display: table-cell;
 	text-align: center;
 	vertical-align: middle;
}

ul.img-list li:hover span.text-content {
 	opacity: 1;
}

.creators {
	text-align: center;
	margin: 10px 0 0;
}